*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:#1b1c23 ;
    font-family: 'Poppins', sans-serif;
}
/* Design Navbar */
.hero
{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(/src/img/on1.avif);
    background-size: cover;
    background-position: center;
}
.logo{
    cursor: pointer;
}
nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
}
.logo   
{
    color: white;
    font-size: 28px;
}
span
{
    color: red;
}
nav ul li
{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover
{
    color: red;
    transition: .3s;
}
button 
{
    border: none;
    background: red;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}
button:hover
{
    transform: scale(1.1);
    cursor: pointer;
}